#root {
    width: 100%;
//     background-color: #dddd33;
//    min-height: 500px;
  }
  
  .container {
    width: 1200px;
    width: 100%;
    // background-color: #dddd33;
  }
  
  .appWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  
  
  
  
  
  
  
  
  