* h1,
h2,
h3,
h4,
h5,
h6,
p,
u {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0 auto;
    width: 1920px;
    font-family: 'Gilam', sans-serif;

}

.container-header {
    background-color:
        #171717;
    ;
    padding: 1px;
    padding-bottom: 239px;

}
.background{
    
    background-color:
    red;
}

.container-main {
    width: 1460px;
    margin: 0 auto;
}

.communication {
    display: flex;
    padding: 10px 25px 10px 49px;
    border: 1px solid #E4B564;
    background-color: #171717;
    color: #E4B564;
    cursor: pointer;
}

.communication-phon {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    background-color:
        #171717;
    border: #171717;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    margin-top: 47px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;

}

.text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    width: 1182px;
    margin: 41px 0;
}

.construction {
    display: grid;
    grid-template-columns: 467px 233px 234px 467px;
    grid-template-rows: repeat(2, 468px);
    gap: 27px;
    justify-content: center;
    margin-bottom: 161px;

}

.construc {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.item {

    align-self: center;
    justify-self: center;
}

.tion1,
.tion2,
.tion3,
.tion4,
.tion5,
.park {
    display: grid;

}

.tion1 {

    background-color: #634F2C;
}

.tion2 {

    background-color: #B4A385;
    grid-column: 2 span / 4;
    text-align: center;
}

.tion3 {

    background-color: #E4B564;
}

.tion4 {

    background-color: #635A4A;
    grid-column: 2 span / 3;
}

.tion5 {

    background-color: #B08C4D;
    grid-column: 3 / 5;
}

.park {
    gap: 27px 30px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 32px 102px 122px 277px;
    margin: 94px 0 190px 0;
}

.machinery {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 50px;

}

.kamaz {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.autopark1,
.autopark6 {
    background-color: #0E0E0E;

}

.autopark2 {
    background-color: #242424;
    grid-row: span 3;
}

.autopark3,
.autopark4 {
    background-color: #1F1F1F;
}

.autopark5 {
    background-color: #E4B564;
    grid-area: 4 / 2 / 6 / 3;

}

.autopark7 {
    background-color: #0A0909;
    
}

.autopark1 {

    grid-row: span 2;
}

.autopark4 {
    grid-area: 3 / 1 / 6 / 2;
}

.autopark6 {

    grid-row: span 3;
}

.footer {
    background-color: #0E0E0E;
}

.client {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    padding-bottom: 72px;

}

.btn {
    padding: 10px 40px;
}

.project {
    display: flex;
    flex-wrap: wrap;

}

.project1 {
    display: flex;
    width: 486px;
    height: 392px;
    justify-content: center;
    align-items: center;
}

.company1 {
    background-color: #634F2C;
    ;
}

.project2 {
    width: 486px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 210, 171, 0.76);

}

.company2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.company3 {
    background-color: #E4B564;
    
}

.company4 {
    background-color: #635A4A;
    
}

.company5 {
    background-color: #B08C4D;

}