body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.card{
    margin: 50px 30px auto 30px;
}
.card-container{
    background: rgba(0, 0, 0, 0.321);
    display: flex;  
    padding: 20px 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    
}
.user-img{
    width: 90px;
    height: 90px;
}
.card-info{
    /* margin-left: 10%; */
    width: 70%;
    /* font-size: 20px;
    font-weight: 400;
    line-height: 20px; */
}




.icon-count{
    font-size: 20px;
    margin-right: 30px;
    vertical-align: middle;
}
.card-btn{
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
