* h1,
h2,
h3,
h4,
h5,
h6,
p,
u {
    margin: 0px;
    padding: 0px;
}

.container-body {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    font-style: normal;
    width: 1366px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container-header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.top {
    margin-top: 46px;
    display: flex;
    width: 1023px;
    justify-content: space-between;

}


.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;


}
.logo-img{ 
    width: 53px;
    height: 47px;
    background-image: url(../img/logo\ 3.png);
}
.top a:hover .logo-img {
    background-image: url(../img/logo\ 2.png);
}
.top a:hover .milan {
    color: #F26522;
}
.top a:hover .holidays {
    color: #F26522;
}

.milan {

    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    display: block;

}

.holidays {
    padding-top: 3px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;

}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    row-gap: 19px;
    align-content: flex-end;
}
.contacts a:hover{
    color: #F26522;
}

.container-main {
    display: flex;
    gap: 37px 62px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 22px 0 49px;
}



.tours{
   position: relative;
   overflow: hidden;
}

.details-info{   
   
    position: absolute;
    bottom: 44px;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    transform: translateY(110px);
}

.details {
 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
 
}

.details-from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 16px;
}

.details-€50 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
}

.View {
    display: flex;
    position: absolute;
    right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 29px;
}

.View::after {
    content: ">";
    width: 5px;
    height: 10px;
    color: #FFFFFF;
    margin-left: 16px;
   
}
.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;

}
.tours:hover .details-info{
    transform: translateY(0); 
    transition: 1s;
    
}

.tours:hover .subtitle {
    color: #F26522;
}
.item:hover{
    color: #F26522  
}


.footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;

}

