* h1,
h2,
h3,
h4,
h5,
h6,
p,
u {
    margin: 0px;
    padding: 0px;

}

a ,
li {
    text-decoration: none;
     list-style-type: none;
}
.container-logotype a:hover {
    color: yellow;
    
}
.container {
    margin: 0 auto;
    width: 1280px;
    font-family: 'Roboto';
    font-style: normal;

}

.container-logotype {
    display: flex;
    flex-direction: column;
  margin-bottom: 49px;
}

.logotype {
     display: block;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin: 63px 0 40px ;
    color: #000000;
   
}

.logotype span {
    color:
        #4BCAFF;
}

.nav-menu {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    border-left: 1px solid #FFFFFF;
}

.nav-menu li{
    text-align: center;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 0 35px 0 35px;
}

.header-link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 66px;
    text-align: center;

}

.header-link-nav{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 66px;
    text-align: center;
}

.header-link-ramda{
    background-color: #222F3A;

}

.aside-text{
 display: flex;
justify-content: space-between;
}

.aside-link-text{
    display: flex;
    width: 344px;
    flex-direction:column;
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
    
}

.aside-link {
    
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    line-height: 81px;
    margin-left: 44px;
}

.aside-link-logotype {
    background: #DBDBDB;
    line-height: 81px;
}

.type {
    color: #000000;
    line-height: 81px;
    margin-left: 80px;
    
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

.aside-link:hover {
     color: blue;
}

.figure {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
   
}

.img-symbol {

    width: 320px;
    height: 381px;
}

.img-symbol:hover {
    transform: scale(1.1);
}


.text p {

    width: 885px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 36px 0 0 0;
}

.hint {
    display: flex;
    width: 1280px;
    height: 69px;
    margin: 54px auto 0;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    padding: 0;

}

.hint li{
    padding: 0 15px;
}

.hint-menu{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.why{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
  
}

.hint-menu:hover {
    text-decoration: underline;
    color: #3181A6;
}

.hint-menu-Copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    
}

.footer-Copyright {
    margin: 0 0 0 135px;
}