
.header {
  width: 100vw;
  height: 100px;
  // position: fixed;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.headerWrapper {
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.95);
  border-bottom: 2px solid #bbbbbb;
}

.title {
  margin-left: 100px;
  font-size: 34px;
  font-weight: 700;
  display: inline;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #1e1e20;
  text-decoration: none;
}
.titleLink{
  text-decoration: none;
}


.iconsWrapper {
  margin-right: 100px;
  padding: 5px 20px;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: #dddddd;
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.2);

  & span {
    width: 20px;
    margin-left: 15px;
    font-size: 24px;
    color: blue;
  }

  .cartShoppingWrapper,
  .starWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20px;
    height: 20px;
  }
}

