#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 114, 49);
}


// .btn-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
