* h1,
h2,
h3,
h4,
h5,
h6,
p,
u {
    margin: 0px;
    padding: 0px;

}

.conteiner-body {
    width: 1920px;
    margin: 0 auto;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 26px 0 0 393px;
}

.logo-h {
    display: flex;
    width: 58px;
    height: 67px;
    background-image: url(../img/img.png/logo\ Ромб.png);
    justify-content: center;
    align-items: center;

}

.h {
    font-size: 40px;
    line-height: 31px;
    display: flex;
}

/* .theHam {} */
/* ----------------------header----------------------- */
.header {
    width: 1920px;
    height: 120px;
    display: block;
    position: fixed;
    background: rgba(94, 93, 88, 0.6);

}

.nav {
    display: flex;


}

.nav-li {
    display: flex;
    gap: 21px;
    margin: 50px 0 0 460px
}

.nav-menu {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 47px;

}

.nav-menu:hover {

    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.img-search {
    fill: rgba(255, 255, 255, 0.6);

}

.nav-menu:hover .img-search {
    fill: #18CFAB;

}


.text {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.theme {

    color: #18CFAB;
}

/* ---------------------section---------------------- */
.section {

    height: 1012px;
    background-image: url(../img/background/section-1\(header\).jpg);
    background-attachment: fixed;
}

.title {
    text-align: center;



}

.wordpress {
    font-size: 35px;
    padding-top: 384px;

}

.creative {
    margin: 22px;
    font-size: 78px;
}

.none-p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.btn {
    Width: 169px;
    Height: 63px;
    background-color: #18CFAB;
    line-height: 32px;
    font-size: 15px;
    margin: 140px 26px 243px;
    border: 1px solid #18CFAB;
    cursor: pointer;
    border-top: 4px solid #ffffff;
    border-radius: 4px;
}

/* .btn2 {
    Width: 169px;
    Height: 63px;
    background: #00CBF6;
    line-height: 32px;
    font-size: 15px;
    border: 1px solid #00CBF6;
    cursor: pointer;
    border-top: 4px solid #ffffff;
    border-radius: 4px;
} */
.btn:nth-of-type(2) {
    background-color: #00CBF6;
}

.btn:hover {
    filter: brightness(110%);
    transform: scale(1.05);
}

/* ------------------------------section-one-line--------------- */
.section-one-line {
    height: 10px;
}

.section-one {
    display: flex;
    justify-items: center;
}

.support {
    text-align: center;
    width: 482px;
    height: 377px;
    background-color: #1C2A33;
    ;
}

.section-one-p {
    font-size: 20px;
    line-height: 24px;

}

.seting {
    text-align: center;
    width: 482px;
    height: 377px;
    background-color: #18CFAB;
}

.support img {
    margin: 85px 0 47px;
}

.seting img {
    margin: 95px 0 58px;
}

.section-twu {
    width: 1160px;
    margin: 0 auto;
}

/* --------------------------section-twu------------- */
.services {
    margin: 83px 0 26px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}


.line-section-twu {
    width: 77px;
    border: 1px solid #18CFAB;
    margin-left: 554px;
}

.line-twu-section-twu {
    width: 77px;
    border: 1px solid #18CFAB;
    margin: 3px 0 69px 568px;
}

.tabs {
    display: flex;
    text-align: center;


}

.tabs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    width: 192px;
    height: 73px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    position: relative;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
    cursor: pointer;
}

.text-section-twu {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;


}

.tabs-content-img.active {
    display: flex;
    gap: 25px;
}

.tabs-content-img {
    display: none;
}

.text.tabs-title.active {
    background: #18CFAB;
    color: #FFFFFF;

}

.trigl.active {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13.5px 0 13.5px;
    border-color: #18CFAB transparent transparent transparent;
    position: absolute;
    left: 42%;
    top: 98%;
}

.trigl {
    display: none;
}



/* --------------------------section-three-------------- */

.section-three {
    position: relative;
    /* width: 1920px; */
    /* height: 477px; 
    width: 1920px; */
    background-image: url(../img/background/section-2.jpg);
    background-attachment: fixed;
    text-align: center;
    margin-top: 91px;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-size: 100% 100%;
    background-position: center center;
}

.section-three:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.section-three-p {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding: 127px 0 12px;
    z-index: 3;
    position: relative;
}

.section-three-p-twu {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    z-index: 3;
    position: relative;
}

.btn-section-three {
    position: relative;
    margin: 67px 0 127px;
    z-index: 3;
}

/* -----------------------main------------------ */
main {
    width: 1160px;
    margin: 0 auto;
}

.main-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin: 95px 0 97px;
}

.main-ul {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.main-text-li {
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    text-align: center;
    padding: 14px 15px 13px 15px;
    border: 1px solid #DADADA;
    color: #717171;
}

.main-text-li:hover {
    border: 1px solid #18CFAB;
}

.text.main-text-li.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}




/* ------------------------section Graphic-Design-------- */

/* .experement {
    display: flex;
    flex-wrap: wrap;
}  */

.active2 {
    display: flex;
    flex-wrap: wrap;
}

.profession-img {
    display: flex;
    flex-wrap: wrap;
    /* display: none; */
}

.container-img-deseign {
    width: 285px;
    height: 206px;

}

.container-img-deseign:hover .flip-card {
    transform: rotateY(180deg);

}

.flip-card {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;

}



.img-back {
    width: 100%;
    height: 100%;
    text-align: center;
    border-top: 2px solid #18CFAB;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E9EDEF;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


.img-card-back {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 46px 0 24px;

}


.img-card-circle-2,
.img-card-circle-1 {
    Width: 43px;
    Height: 43px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    position: relative
}

.img-card-circle-1:hover .svg-position {
    fill: #fff;
}

.img-card-circle-1:hover {
    background-color: #18CFAB;
}

.img-card-circle-2:hover {
    background-color: #18CFAB;
}

.img-card-circle-2:hover .img-card-circle-2-square {
    background-color: white;
}

.svg-position {
    position: absolute;
    top: 34%;
    left: 34%;


}

.img-card-circle-2-square {
    width: 12px;
    height: 12px;
    border: 1px;
    background-color: #18CFAB;
}

.text-card-back-p {
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.card-back-2p {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;

}

.preloader-load-more {
    position: relative;
}

.load-btn {
    margin: 70px 0 100px 496px;

    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 36px;
    border: none;
    border-radius: 4px;
    position: relative;

}

.load-btn::before {
    content: "+";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    left: 23px;
    top: 14px;


}

/* PRELOADER */

.lds-dual-ring {
    display: none;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 34%;
    left: 38%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ac3232;
    border-color: #ac3232 transparent #ac3232 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader-active {
    display: block;
}

/* -------------------------------------------- section breaking-news--------------- */

.section-breaking-news {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 130px;
}

.title-breaking-news {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin-bottom: 24px;
}

.news-content__item:hover .news-content__item-img_date {
    background-color: #18CFAB;
}

.news-content__item-img {
    Width: 263px;
    Height: 208px;
    position: relative;
    overflow: hidden;
    /* display: flex;
flex-direction: column; */
    text-align: center;


    /* background-image: url(../img/breaking-news/Layer\ 47.jpg); */
}

.news-content__item-img_date {
    box-sizing: border-box;
    position: absolute;
    padding: 15px 20px;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: #203e38;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

}

.news-content__item:hover .news-content__item-img img {
    scale: 1.1;
    transform: rotateZ(5deg);
}

.news-content__item:hover .news__item-text_title {
    color: #18CFAB;
}

.news__item-text_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-left: 15px;
}

.news__item-text_subtitle {
    display: flex;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #777777;

}

.subtitle_autor,
.subtitle_comment {
    padding: 0 15px;
}

.subtitle_autor {
    border-right: 1px solid #777;
}

/* ----------------------section-about-theHam----------- */


.section-about-theHam {
    height: 853px;
    background-image: url(../img/background/section-3.jpg);
    background-attachment: fixed;
    text-align: center;
    background-size: 100% 100%;
    background-position: center center;
    box-sizing: border-box;
}

.conteiner-section-about-theHam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.conteiner-user-history {
    min-height: 397px;
    position: relative;
    overflow: hidden;
    /* margin-bottom:38px; */
    /* transition: 800ms ease-out; */
    box-sizing: border-box;

}

.none {
    position: absolute;
    top: 0%;
    left: 100%;
    /* overflow: hidden; */
}

.move {
    left: 390px;
    transition: 1s;
    /* max-width:114rem; */
    /* transform :translateX(1140px); */
}

.line-section-about-theHam {
    margin: 25px 0 20px 356px;

}

.text-about-theHam {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 97px;
}

.svg-koma {
    margin-bottom: 36px;
}

.user-history {
    width: 1160px;
    margin: 0 auto;


}

.user-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
    color: #BBBBBB;
}

.user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}

.user-profession {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 300;
    color: #BBBBBB;
    margin-bottom: 38px;
}

.user-avatar {
    border-radius: 50%;
    outline: 12px solid rgba(31, 218, 181, 0.2);
}

.conteiner-user-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.users-foto {
    display: flex;
    gap: 38px;
    padding: 0;
}

.user-img {
    border-radius: 50%;
    outline: 5px solid rgba(31, 218, 181, 0.3);
    cursor: pointer;
}

.user-img.active {
    position: relative;
    bottom: 10px;
    outline: 5px solid #00CBF6;
}

.btn-carousel {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    position: relative;
    background: none;
    /* transition-duration: 0.5s; */
}

.btn-carousel:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.btn-carousel::after {
    content: '';
    position: absolute;
    bottom: 9px;
    left: 11px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #BBBBBB;
    border-top: 2px solid #BBBBBB;
    /* transition-duration:         0.5s; */



}

.btn-carousel.arrow-left::after {
    left: 11px;
    transform: rotate(225deg);
}

.btn-carousel.arrow-right::after {
    left: 7px;
    transform: rotate(45deg);
}


/* ----------------------------------------footer-end--------------------------- */




.footer-end {
    display: flex;
    height: 121px;
 
    background: #22353F;
    justify-content: center;
    align-items: center;
}

.footer-text {


    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.text-theHam {
    color: #18CFAB;

}