@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.footer {
    text-align: center;
    @include fonts;
    background: #000000;

}
.footer__title{
font-weight: 700;
font-size: 14px;
line-height: 22px;
text-transform: uppercase;
color: #FEFEFE;
margin: 0;
padding-top: 38px;
@media (min-width: $tablet) {
    font-size: 16px;
    padding-top: 57px;   

}
@media (min-width: $desktop) {
    
    padding-top: 66px;   

}
}

.footer__content{
    max-width: 684px;
    margin: 0 auto;
}

.footer__text{

font-size: 12px;
line-height: 20px;
color: #B9B9B9;
@media (min-width:$tablet) {
    font-size: 16px;
    line-height: 28px;

}
}
.footer__icons{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 26px 0 25px;
    @media (min-width: $tablet) {
        padding: 37px 0 34px;
    }
}
.footer__info,
.footer__info-tel,
.footer__info-mail{
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    text-decoration: none;
   padding-bottom: 47px;
    @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 56px;
    }
    @media (min-width: $desktop) {
    
        padding-bottom: 70px;   
    
    }
}
.footer__rss-icon:hover{
    transform: scale(1.3);
}