@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.burger-menu-button {
    width: 44px;
    height: 37px;
    border: none;
    background-color: #000;
    padding: 0;
    cursor: pointer;
    margin: 23px 0;

}

@media (max-width: $tablet) {
    .menu-active {
        width: 182px;
        height: 208px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        color: #4E4E4E;
        background-color: #F5F5F5;
        position: absolute;
        top: 60px;
        opacity: 1;

    }
}
.menu-close {
    position: absolute;
    right: 0;
    opacity: 0;
}

.opacity {
    opacity: 1;
}