@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.header {
  max-width: 1190px;
  margin: 0 auto;
  @include fonts
}

.menu {
  opacity: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 34px;
  margin: 0 auto;
  max-width: 812px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.1px;

}

.menu__link {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    color: #57A4A4;
  }
}

.header-nav {
  display: flex;
  position: relative;
  flex-direction: row-reverse;

  @media (min-width: $tablet) {
    .burger-menu-button {
      display: none;
    }

    .menu__item {
      display: flex;
      justify-content: center;
    }

    .menu {
      opacity: 1;
    }

    .header__menu {
      margin: 52px auto 53px auto;
    }

  }

  @media (min-width: $desktop) {

    .menu {
      gap: 68px;
      white-space: nowrap;

    }
  }


}


.header__img {
  width: 100%;
}