@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.posts {
    max-width: 1190px;
    margin: 0 auto;
    @include fonts
}

.recent-posts__title {
    color: $accent-color;
    margin-top: 38px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: $tablet) {
        font-size: 16px;
    }
}

.post {

    margin: 25px 0 60px;

    @media (min-width: $tablet) {
        display: flex;
        gap: 21px;

    }
}

.post__link {
    text-decoration: none;

}

.posts__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: $accent-color;

    @media (min-width: $tablet) {
        font-size: 16px;
        margin: 0;
    }

}

.posts__item-comment {

    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
}

.posts__item-content {
    display: none;

    @media (min-width: $tablet) {
        display: flex;

    }
}

.end {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        gap: 21px;

    }
}

.post-desktop {
    @media (min-width: $desktop) {
        display: flex;
        gap: 25px;

    }
}