@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.instagram {
    padding-bottom:49px;
    @include fonts;

    h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #4E4E4E;

        @media (min-width: $tablet) {
            font-size: 16px;
        }
    }

    span {
        display: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        color: $accent-color;
        margin-top: 24px;
        padding-right: 22px;

        @media (min-width:$tablet) {

            display: block;

        }
    }

    @media (min-width: $tablet) {

        background-color: rgb(0, 0, 0, 0.03);

    }
}

.container {
    max-width: 1190px;
    margin: 0 auto;

    .instagram-shots__foto {
        width: 100%;

    }

}

.instagram-shots__texts {
    display: flex;
    justify-content: space-between;
}

.instagram-shots__items {
    display: flex;
    gap: 10px;

    @media (min-width: $tablet) {

        .instagram-shots__item:nth-child(2),
        .instagram-shots__item:nth-child(3) {
            display: block;

        }
    }

    @media (min-width: $desktop) {
        .instagram-shots__item:nth-child(4) {
            display: block;

        }
    }
}

.instagram-shots__item:nth-child(n + 2) {
    display: none;

}