.btn {
    position: relative;
    width: 170px;
    margin: 15px;
    padding: 10px;
    
    text-align: center; 
    box-sizing: border-box;
    align-items: center; 
    justify-content: center;
    border: none;
    border-radius: 4px;
   
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 24px;
   
    cursor: pointer;
  
  }
  
  .btn-primary {
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .btn-secondary {
    color: yellow;
  }
  
  