* h1,
h2,
h3,
h4,
h5,
h6,
p,
u {
    margin: 0px;
    padding: 0px;
}

.container-body {
    width: 1366px;
    position: relative;
    background-image: url(../img/fon-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-style: normal;

}

.container-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 79px;

    background-color: rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
}

.item {

    color: #FFFFFF;

}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

svg:hover path {
    fill: #3CB878;
}

.journey {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.exit {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.link::before {
    content: "";
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    ;
    opacity: 0.5;
    margin-right: 25px;
}

.form-fb {
    width: 444px;
    min-height: 584px;
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
}

form:focus {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.container-form {
    padding: 0 60px;
    box-sizing: border-box;

}

.login {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 31px 0 15px;

}



.sign {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3CB878;
    left: -60px;
    top: 31px;

}




.log {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.test:hover {
    color: #01813F;
}

.exit {
    display: flex;
    justify-content: space-between;

}

.btn {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 0 25px 0 15px;
    box-sizing: border-box;
}

.facebook {
    background-color: #305DB8;
}

.facebook:hover {
    background-color: #022263;
    transition: 0.7s;
    cursor: pointer;
}

.google {
    background-color: #DF4A32;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.7s;
    cursor: pointer;
}


.retreat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 8px;
    margin: 31px 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;

}

.retreat::before {
    content: "";
    min-width: 145px;
    border: 1px solid #F2F2F2;
}

.retreat::after {
    content: "";
    min-width: 145px;
    border: 1px solid #F2F2F2;
}

.form-input {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 14px;
}

.personal {
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    outline: none;
}

.personal::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 19px;
    box-sizing: border-box;
}

.personal:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.custom-checkbox {
    display: none;
}

.checkmark {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left: 28px;
}

.checkmark::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    left: 0;
    top: 69%;
    background-color: rgba(0, 0, 0, 0.0001);

}

.custom-checkbox:checked+.checkmark::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 319px;
    left: 11px;
    background-image: url(../img/svg/V1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    opacity: 1;
    transform: 0.4s;
    z-index: 2;
}

.conditions {
    color: #3CB878;
}

.checkmark:hover .conditions {
    text-decoration: underline;
    color: #01813F;
    transition: 0.7s;
}

.account {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    padding: 0;
    margin: 20px 0 38px;
}

.account:hover {
    background-color: #01813F;
    transition: 0.7s;
    cursor: pointer;
}